body * {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    max-width: 1280px;
    margin: auto;
}

.logo {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.bg-ricomida {
    background: #373A3C !important;
}

.text-ricomida {
    color: #373A3C;
}

#sub {
    height: 534px;
    background: #DC3545;
    padding-top: 210px;
}

#itr * {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

footer {
    height: 125px;
}

footer h1 {
    padding-top: 45px;
}

.carousel-item img {
    width: 223px;
    height: 170px;
}