* {
    font-family: "Open Sans", sans-serif;
}

.barra{
    top: 0px;
    left: 0px;
    height: 99px;
    background: #000F08 0% 0% no-repeat padding-box;
    opacity: 1;
}

.barra li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 57px;
    margin-top: 28px;
}

.barra a {
    color: white;
    text-decoration: none; /* quita el subrayado de los links*/
    font-size: 25px;
}

.cabecera {
    background: transparent url('../img/bg-hero.png') 0% 0% no-repeat padding-box;
    height: 422px;
    text-align: right;
    color: white;
    padding: 100px;
}

.cabecera h1 {
    font: normal normal 800 60px/82px Open Sans;
    letter-spacing: 1.5px;
}

.cabecera h2 {
    font: normal normal normal 4;
}

.wework {
    margin-top: 60px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000F08;
    opacity: 1;
}

.wework h2 {
    font: normal normal bold 45px/61px Open Sans;
}

.wework p {
    font: normal normal normal 25px/34px Open Sans;
}

.speaker {
    background-color: #A4452C;
    opacity: 1;
    display: inline-block;
    top: 1351px;
    left: 0px;
    width: 1920px;
    height: 501px;
    text-align: center;
}

.speaker img {
    top: 1455px;
    left: 513px;
    width: 312px;
    height: 294px;
    margin-top: 104px;
}

.texto {
    display: inline-block;
    text-align: left;
    color: white;
}

.texto h3 {
    font: normal normal bold 45px/61px Open Sans;
}

.texto h4 {
    font: normal normal bold 40px/55px Open Sans;
}

