body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    width: 1280px;
    background: #000000;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
}

.desc-section {
    display: inline-flex;
    font-size: 16px;
    font-weight: 300;
}

#text {
    width: 475px;
    margin: 76px 120px 75px 120px;
    color: #ffffff;
}

.desc-section img {
    margin: 45px 0 66px 0;
    width: 399px;
    height: 237px;
    text-align: right;
}

#icons-section * {
    display: inline-block;
    background: #1E1A13;
}

#icons-section h2 {
    padding-top: 75px;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

#icono1 {
    width: auto;
}

#icono1 img {
    width: 57px;
    height: 37px;
    padding-top: 50px;
    margin-left: 326px;
}

#icono1 h3 {
    width: 128px;
    padding: 16px 0 74px 0;
    margin-left: 301px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

#icono2 {
    width: auto;
}

#icono2 img {
    width: 57px;
    height: 37px;
    padding-top: 50px;
    margin-left: 220px;
}

#icono2 h3 {
    width: 98px;
    padding: 16px 0 74px 0;
    margin-left: 199px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

#icono3 {
    width: auto;
}

#icono3 img {
    width: 57px;
    height: 37px;
    padding: 50px 241px 0 0;
    margin-left: 255px;
}

#icono3 h3 {
    width: 202px;
    padding: 16px 0 74px 0;
    margin-left: 175px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    background: #1E1A13;
}

.fotos * {
    display: inline-block;
    width: 316px;
    height: 202px;
}

#iguana-2 {
    padding: 72px 0 72px 0;
    margin-left: 150px;
}

#iguana-3 {
    padding: 72px 0 72px 0;
    margin-left: 16px;
}

#iguana-4 {
    padding: 72px 0 72px 0;
    margin-left: 16px;
}

#pie {
    height: 102px;
    display: inline-block;
    background: #1E1A13;
    opacity: 0.94;
}

#pie p {
    background: #1E1A13;
    margin-top: 39px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

#pie a {
    background: #1E1A13;
    margin-top: 39px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

#pie a:link {
    text-decoration: none;
}

#pie a:visited {
    text-decoration: none;
}

#pie a:hover {
    text-decoration: none;
}

#pie a:active {
    text-decoration: none;
}